/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


footer{
	text-align:center;
}

li{
	list-style-type: none;
}

a	{
	text-decoration: none;
	color: blue;
}

.account{
	float:right;
}

.menu{
	white-space: nowrap;
	text-align:center;
}

.menu li{
	display:inline-block;
	width:140px;
	border:solid 1px;
}
.scroll{
	overflow-x:scroll; 
}
table{
	width: 100%;
	border: 2px black;
	border-collapse: collapse;
	background-color: #FFFFFF;   
}

th{ 
	text-align: center;
	border: 2px solid black; 
	background-color: #BABABA;
	color: black;
}

th a:visited { 
	color: #DCDCDC;
} 

th a{ 
	color: #DCDCDC;
} 
   
td{ 
	border: 2px solid black;
	background-color: white;
}



