/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body{
	margin:15px;
}

header{
	height:90px;
}

footer{
	text-align:center;
}

li{
	list-style-type: none;

}

a	{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: underline;
}
h1.paragraph {
	margin-left:5px;
	margin-right:0;
	margin-top:0;	
	margin-bottom:10px;		
}
.center{
	text-align:center;
}
.right{
	text-align:right;
}

.account{
	float:right;
	margin:0;
	padding:0;
}

.menu{
	white-space: nowrap;
	text-align:center;
	background-color:#393939;
	margin:0;
	padding:0;
}

.menu li{
	display:inline-block;
	width:230px;
	padding:10px;
}

.menu a{
	color:white;
	font-size:16pt;
}
.menu a:hover{
	text-decoration: none;
}
.menu a:visited { 
	color:white;
} 

.menu li:hover {
	background-color: black;
}

.scroll{
	overflow-x:scroll; 
}

.container{
	margin:0;
	padding:0;
}

.search{
	float:right;
	margin-top:10px;
}

table{
	width: 100%;
	border: 2px black;
	border-collapse: collapse;
	background-color: #FFFFFF;   
}

th{ 
	text-align: center;
	border: 2px solid black; 
	background-color: #D0D0D0;
	color: black;
}

th .current {
	padding-right:12px;
	background-repeat:no-repeat;
	background-position: right center;
}

th .asc {
	background-image: url(up_arrow.gif);
}

th .desc {
	background-image: url(down_arrow.gif);
}

tr{
	background-color:white;

}

td{ 
	border: 2px solid black;
}

.red {
	color:red;
}

.yellow {
	color: yellow;
}

.green {
	color: green;
}
.red a{
	color:red;
}

.yellow a{
	color: yellow;
}

.green a{
	color: green;
}

/* Pagination */
.digg_pagination {
  /*Some addition (begin)*/
  float:left;
  margin:0 50px;
  /*Some addition (end)*/
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.1em 0.3em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #393939;
    color: white;
    border: 1px solid #393939; }
  .digg_pagination a {
    text-decoration: none;
    color: #393939;
    border: 1px solid #393939; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

.page_selection{
	margin-left:0px;
}

tr.red_row{
	background-color:#FF7F7F;
}

tr.yellow_row{
	background-color:#F6F549;
}

tr.green_row{
	background-color:#6AE444;
}
